nav {
    background-color: #FFA500;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 70px;
    margin-left: 10px;
}
table {
font-family: Arial, sans-serif;
border-collapse: collapse;
width: 80%;
margin: 20px auto;
}

th, td {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

th {
background-color: #f2f2f2;
}